<html>
<body>
<p><strong><span style="color: #ff0000;">WEBSITE SECURITY RESEARCH GROUP</span></strong></p>
<p>we have been working on developing areas to test common website vulnerabilities</p>
<p>Here is our poster</p>
<a href="http://3.138.158.113:8080/poster.pdf" download="project.pdf">Link</a>
</body>
</html>
